<%= form_for(@profile, :html => {:class => 'ui form warning'}) do |f| %>
  <div class="ui pink segment">
    <div class="ui top left attached pink label">
      <%= t(:'title.edit_profile') %>
    </div>

    <%= error_messages! @profile %>

    <div class="field">
      <%= f.label :nickname %>
      <%= f.text_field :nickname %>
    </div>

    <div class="field">
      <label for="address">地址</label>
      <div class="ui fluid search selection dropdown">
        <input type="hidden" id="lng_lat">
        <i class="dropdown icon"></i>
        <% if f.object.address.blank? %>
          <%= content_tag(:div, "请输入地址后从选项中选择", id: "address_name", class: ["default", "text"]) %>
        <% else %>
          <%= content_tag(:div, f.object.address, id: "address_name", class: "text") %>
        <% end %>
        <div class="menu">
        </div>
      </div>
    </div>

    <%= f.hidden_field :address %>
    <%= f.hidden_field :lng %>
    <%= f.hidden_field :lat %>

    <div class="actions">
      <%= f.submit(:class => 'fluid pink ui button') %>
    </div>
  </div>
<% end %>

<script>
 $('.search.dropdown')
    .dropdown({
      apiSettings: {
        url: 'http://restapi.amap.com/v3/assistant/inputtips?s=rsv3&city={city}&key={key}&keywords={query}',
        dataType: 'jsonp',
        stateContext: '.search.dropdown',
        urlData: {
          key: '263c0cb87ee1ac03561350d3dae3dde2',
          city: 'shanghai'
        },
        onResponse: function(response) {
          var result = {};
          result["success"] = true;
          result["results"] = response.tips;
          return result;
        },
        onFailure: function() {
          console.info("fail");
        }
      },
      fields: {
        name: 'name',
        value: 'location'
      }
    });

 $('#lng_lat').change(function() {
   var address_name = $('#address_name').text();
   $('#profile_address').val(address_name);

   var arr = $('#lng_lat').val().split(',');
   $('#profile_lng').val(arr[0]);
   $('#profile_lat').val(arr[1]);
 });
</script>
