<% title t('title.search') %>


<div class="ui attached icon message">
  <i class="announcement icon"></i>
  <div class="content">
    <div class="header">
      已收录 <%= @total %> 个药品
    </div>
    <p>在“个人设置”中填写地址，才能被收录</p>
  </div>
</div>
<%= form_for(:query, :url => "/searches", :method => :get, :html => {
  :class => 'ui form attached fluid segment'}) do |f| %>
  <%= f.hidden_field :longitude %>
  <%= f.hidden_field :latitude %>
  <div class="field">
    <div class="ui fluid large action input">
      <%= f.text_field :str, placeholder: '请输入药品名称或症状' %>
      <div id="search" class="pink ui button">搜索</div>
    </div>
  </div>
<% end %>

<% unless @top_queries.empty? %>
  <div class="ui bottom attached info message">
    <div class="header">
      本周大家都在搜这些，请注意防范相关疾病
    </div>
    <ul class="list">
      <% @top_queries.each do |query| %>
        <li><%= query %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render "jssdk" %>

<script>
 $('#search').click(function() {
   $('form').submit();
 });

 wx.ready(function() {
   wx.getLocation({
     type: 'gcj02',
     success: function(res) {
       $('#query_longitude').val(res.longitude);
       $('#query_latitude').val(res.latitude);
     }
   });
 });
</script>
