<%= form_for(@item, :html => {:class => 'ui form warning'}) do |f| %>

  <div class="ui pink segment">
    <div class="ui top left attached pink label">
      <% if @item.persisted? %>
        <%= t(:'title.edit_item') %>
      <% else %>
        <%= t(:'title.new_item') %>
      <% end %>
    </div>

    <% if @item.errors.any? %>
      <div class="ui warning message">
        <ul class="list">
          <% @item.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="three fields">
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :intro %>
        <%= f.text_field :intro %>
      </div>
      <div class="field">
        <%= f.label :num %>
        <%= f.number_field :num %>
      </div>
    </div>

    <%= f.submit(:class => 'fluid pink ui button') %>
    <% if @item.persisted? %>
      <div class="ui horizontal divider"> 或 </div>
      <%= link_to '删除', @item, method: :delete,
      class: 'fluid ui button',
      data: { confirm: '确认删除？' } %>
    <% end %>
  </div>
<% end %>
