<%= form_for(@item, :html => {:class => 'ui form warning'}) do |f| %>

  <div class="ui pink segment">
    <div class="ui top left attached pink label">
      <% if @item.persisted? %>
        <%= t(:'title.edit_item') %>
      <% else %>
        <%= t(:'title.new_item') %>
      <% end %>
    </div>

    <%= error_messages! @item %>

    <div class="three fields">
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :num %>
        <%= f.number_field :num %>
      </div>

      <!-- 选填 -->
      <h4 class="ui horizontal divider header dash_header">
        以下部分为选填
      </h4>
      <div class="field">
        <%= f.label :intro %>
        <%= f.text_field :intro, placeholder: '高烧 感冒 鼻塞' %>
      </div>
      <div class="field">
        <%= f.label :buy_from %>
        <%= f.text_field :buy_from, placeholder: '美亚' %>
      </div>
      <div class="field">
        <div class="ui checkbox">
          <%= f.check_box :opened %>
          <%= f.label :opened %>
        </div>
      </div>
    </div>

    <%= f.submit(:class => 'fluid pink ui button') %>
    <% if @item.persisted? %>
      <div class="ui horizontal divider"> 或 </div>
      <%= link_to '删除', @item, method: :delete,
      class: 'fluid ui button',
        data: { confirm: '确认删除？' } %>
    <% end %>
  </div>
<% end %>
