<%= form_for(@item, :html => {:class => 'ui form warning'}) do |f| %>
  <% if @item.errors.any? %>
    <div class="ui warning message">
      <div class="header"><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</div>

      <ul class="list">
        <% @item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="three fields">
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :intro %>
      <%= f.text_field :intro %>
    </div>
    <div class="field">
      <%= f.label :num %>
      <%= f.number_field :num %>
    </div>
  </div>

  <%= f.submit(:class => 'ui submit button') %>
<% end %>
