<% if user_signed_in? %>
  <div class="ui pink four item inverted large menu">
    <%= link_to(items_path, class: "item #{controller.class == ItemsController and controller.action_name == 'index' ? 'active' : ''}") do %>
      <%= t(:'title.items') %>
    <% end %>

    <%= link_to(new_item_path, class: "item #{controller.class == ItemsController and controller.action_name == 'new' ? 'active' : ''}") do %>
      <%= t(:'title.new_item') %>
    <% end %>

    <%= link_to(edit_profile_path(current_user), class: "item #{controller.class == ProfilesController and controller.action_name == 'edit' ? 'active' : ''}") do %>
      <%= t(:'title.edit_profile') %>
    <% end %>

    <%= link_to(new_search_path, class: "item #{controller.class == SearchesController ? 'active' : ''}") do %>
      <%= t('title.search') %>
    <% end %>
  </div>
<% end %>
