<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags site: t(:'title.site') %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "navbar" %>
    <%= render "container" %>
  </body>
</html>
